.active-project-list {
    padding: 20px;
    width: 70vw; /* Set the width to 70% of the viewport */
    margin: 0 auto; /* Center the content horizontally */
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  