@use '/src/styles/globals' as *;

// Active Projects Card Styles
.active-projects-card {
  width: 300px;
  height: 200px;
  border-radius: $border-radius; // Using global border radius variable
  margin: $spacing-medium;       // Using global spacing variable
  padding: $spacing-medium;      // Using global spacing variable
  background-color: $primary-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  button{
    border: 1px $white-color solid;
  }
    // Responsive styles for smaller screens
    @media (max-width: 768px) {
      margin: 0 auto;
    }
}
