@use '/src/styles/globals' as *;

// Active Project List Container
.active-project-list {
  padding: $spacing-medium;
  width: 100%; // Set the width to 70% of the viewport
  margin: 0px auto; // Center the content horizontally
  text-align: center;
}

// Heading Styles
h2 {
  margin-bottom: $spacing-medium;
  font-size: 2rem;
  color: $primary-color;
}
