@use '/src/styles/globals' as *;

.JobBoard {
  display: flex;
  flex-wrap: wrap; // Allow items to wrap on smaller screens
  gap: 12px;
}

.job-card {
  background-color: white;
  padding: $spacing-medium;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    margin: 0 auto;
  }
}

.job-details-modal {
  background-color: $primary-color;
  padding: $spacing-large;
  border-radius: $border-radius;
}

@media (max-width: 768px) {
  h2 {
    width: 100%;
    text-align: center;
  }
}