.custom-navbar {
    border-radius: 15px;
    background-color: #573FEF; /* Purple background color */
    width: 90vw;
    margin: 25px auto; /* Center the navbar */
    height: 100px;
}

.search-bar {
    flex-grow: 1;
    max-width: 500px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 25px;
}

.search-bar input {
    border: none;
    outline: none;
    border-radius: 25px;
}

.search-button {
    background-color: #573FEF; /* Blue color for the button */
    border: none;
}

.profile-button {
    width: 40px;
    height: 40px;
    font-weight: bold;
}