.secondary-navbar {
    background-color: #715BFF; /* Purple background color */
    padding: 10px;
    border-radius: 15px;
    margin: 20px auto;
    width: 80vw;
    font-size: 14px;
  }
  
  .secondary-navbar .nav-link {
    color: white !important;
    font-weight: 500;
    margin: 0;
    transition: color 0.3s ease-in-out;
  }
  
  .secondary-navbar .nav-link:hover {
    color: #e0e0e0 !important;
    text-decoration: underline;
  }
  