.sidebar-card {
    width: 300px;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
  }
  
  .profile-picture {
    background-color: #573FEF;
    color: white;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }
  
  .profile-info h6 {
    margin: 0;
  }
  
  .profile-description {
    margin-top: 20px;
  }
  
  .skills-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .skill-button {
    border-radius: 20px;
  }
  
  .account-settings {
    color: gray;
    cursor: pointer;
  }
  