@use '/src/styles/globals' as *;

// Job Posts List Container
.job-posts-list {
  margin-top: $spacing-large; // Using global spacing variable
}

// Job Cards Container
.job-cards {
  display: flex;
  flex-wrap: wrap; // Allow items to wrap on smaller screens
  gap: 12px;
  background-color: $background-color; 
  padding: $spacing-medium;
  border-radius: $border-radius;

  @media (max-width: 770px) {
    flex-direction: column; // Stack cards vertically
    align-items: center; // Center cards horizontally
    gap: $spacing-small; // Reduce gap for smaller screens
  }
}
