@import '/src/styles/globals';

.sidebar-card {
  background-color: $background-color;
  border-radius: $border-radius;
  padding: $spacing-medium;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 500px;

  .card-title {
    font-size: 1.5rem;
    color: $primary-color;
  }
}

.profile-img-container{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center; /* Ensure text aligns properly */
  margin-bottom: $spacing-medium; /* Add some space below the section */
}

.profile-img{
  width: 200px; /* Set image size */
  height: 200px;
  object-fit: cover; /* Ensure the image retains proportions */
  border-radius: 50%; /* Make it circular */
  margin-bottom: $spacing-small; /* Add spacing below the image */
}