@import '/src/styles/globals';

.dashboard {
  padding: $spacing-medium;

  .info-cards {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-medium;
  }
}

.card {
  background-color: $background-color;
  border-radius: $border-radius;
  padding: $spacing-medium;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
