@import '/src/styles/globals';

.create-project-form {
  display: flex;
  flex-direction: column;
  gap: $spacing-medium;

  input,
  textarea {
    padding: $spacing-small;
    border-radius: $border-radius;
    border: 1px solid $border-color;
  }

  .submit-button {
    background-color: $primary-color;
    border: none;
    padding: $spacing-small;
    border-radius: $border-radius;

    &:hover {
      background-color: $primary-color-hover;
    }
  }
}
