@use '/src/styles/globals' as *;

.create-project-form {
  display: flex;
  flex-direction: column;
  gap: $spacing-medium;
  padding: 25px;
  border-radius: $border-radius;
  background-color: $white-color;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.418);


  input,
  textarea {
    padding: $spacing-small;
    border-radius: $border-radius;
    border: 1px solid $border-color;
  }

  .submit-button {
    background-color: $primary-color;
    border: none;
    padding: $spacing-small;
    border-radius: $border-radius;

    &:hover {
      background-color: $primary-color-hover;
    }
  }
}
